{% extends 'base.html' %}
{% block extrahead %}
{% load static %}
    <link href="{% static 'css/addons/fullcalendar.min.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<h1 class='text-center'>Upcoming</h1>
<hr>
<section>
  <div class="row">
    <div class="col-md-12">
      <div id="calendar"></div>
    </div>
  </div>
</section>
{% block scripts %}
<script>
var today = new Date();
$('#calendar').fullCalendar({
    header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,week,listWeek'
    },
    defaultDate: today,
    navLinks: true,
    eventLimit: true,
    events: [{
            title: 'Front-End Conference',
            start: '2018-11-16',
            end: '2018-11-18' 
            },
            ]
});
</script>
{% endblock %}
{% endblock%}