{% extends 'base.html' %}
{% block content %}


<!-- Table with panel -->
<div class="card card-cascade narrower">
    <!--Card image-->
    <div class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
        <div>
            <div class="white-text mx-3">{{request.user.accountuser.account}} Jobsites</div>
        </div>
        <div class='justify-content-start'>
            <a href="{% url 'customer_app:add_jobsite' %}" type="button" class="btn btn-outline-white  btn-sm px-2">
                <i class="fas fa-plus mt-0"></i> New Jobsite
            </a> 
        </div>
    </div>
    <!--/Card image-->
    <div class="px-5">
        <div class="table-wrapper">
            {% comment %} <h2 class='mb-3'>Basic example</h2> {% endcomment %}
            <table id="ticket_list" class="table table-hover table-sm table-responsive-sm" width="100%">
                <thead>
                    <tr>
                        <th class="th-sm">Contact
                        </th>
                        <th class="th-sm">Phone
                        </th>
                        <th class="th-sm">Address
                        </th>
                        <th class="th-sm">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in jobsite %}
                        <tr>
                            <td>{{ c.contact_name }}</td>
                            <td>{{ c.contact_phone }}</td>
                            <td> {{ c.address1 }} {{ c.address2 }}, {{ c.city }} {{ c.state }} {{ c.zip_code }}  </td>
                            <td>
                                <a href="{% url 'customer_app:edit_jobsite' pk=c.pk %}" type="button" class="btn btn-outline-blue btn-rounded btn-sm px-2">
                                    <i class="fas fa-pencil-alt lt mt-0"></i>
                                </a>
                                <a href="{% url 'customer_app:delete_jobsite' pk=c.pk %}" type="button" class="btn btn-outline-danger btn-rounded btn-sm px-2">
                                    <i class="fas fa-trash-alt lt mt-0"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Table with panel -->


{% endblock %}